connectorx==0.3.2
gdown==4.7.1
numpy==1.26.2
pandas==2.1.4
psycopg2==2.9.9
pyarrow==14.0.0
scikit_learn==1.1.1
SQLAlchemy==2.0.23
tensorflow==2.8.0
torch==2.1.1
tqdm==4.66.1
protobuf==3.20
packaging==23.2
pillow
torchvision==0.16.2
openai